
## Directory Exclusion
/.idea/
/target/
/screenshot/
/automation-logs/
/.settings/

## Recursive Exclusion
/.idea/*
/target/*
/screenshot/*
/automation-logs/*
/.settings/*

## Files exclusion
*.iml
*.png
*.jpg
*.jpeg
*.log
*.classpath
*.factorypath
*.project
*.class